<div class="custom-selector-qty">
  <span class="custom-selector-qty--minus">-</span></button>
  <input type="number" id="quantity" name="quantity" value="1" min="1" step="1" class="quantity-selector">
  <span class="custom-selector-qty--add">+</span>
</div>