
.newsletter-section form {
    max-width: 600px;
    margin: 0 auto 16px auto;
}

.newsletter-container {
    padding:var(--gutter) var(--section-spaced);
}

.newsletter-section .input-group {
    min-height: 45px;
    max-width: 400px !important;
    margin: 0 auto 10px auto;
}

.newsletter-section .input-group * {
    border-radius: 0;
    min-height: 45px;
}

.newsletter-section .input-email {
    color: var(--color-newsletter-form-field);
    background: var(--color-newsletter-form-field-bg);
}
.newsletter-section .input-email::placeholder {
  color: var(--color-newsletter-form-field);
}
  
.newsletter-section .btn {
    color: var(--color-newsletter-form-btn);
    background: var(--color-newsletter-form-btn-bg);
}

